{% extends 'users/base.html' %}
{% load static %}


{% block extend_head %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'dropzone-5.7.0/dist/basic.css' %}">  
<link rel="stylesheet" type="text/css" href="{% static 'dropzone-5.7.0/dist/dropzone.css' %}">

{% endblock %}

{% block extend_nav %} 

<ul class="sidenav">
  <li><a href="{% url 'users:account' %}">Demo User Account</a></li>
  <li><a href="{% url 'users:profile' %}">Demo Profile</a></li>
  <li><a class="active" href="{% url 'users:images' %}">Demo Add Images</a></li>
  <li><a href="{% url 'users:gallery' %}">Demo Gallery</a></li>
  <li><a href="{% url 'users:sign-out' %}">Sign out</a></li>
</ul>

{% endblock %}


{% block content %}

<h3>Django Dropzone Demo - Add Images for <b style="color:#9c07b6">{{request.user.first_name}} {{request.user.last_name}}</b></h3>


<div class="container">
  <label for="dropzone">Profile images</label>









<form method="post" enctype="multipart/form-data" action="/dropzone-image" >
  {% csrf_token %}
  <div class="dropzone" id="myDropzone">
      <div class="dz-message">
          Drag and drop your files here or <br> click to browse
      </div>
      <div class="fallback">
          <input name="image" type="file" multiple />
      </div>
  </div>
  <select id="fileType" name="fileType" style="width: 100px; height: 40px; display: flex; float: right; margin-right: 0px; padding-right: 0px;">
    <option value="" disabled selected style="width: 100px; height: 40px;">File</option>
    <option value="Revision" style="width: 100px; height: 40px;">Revision</option>
    <option value="Draft" style="width: 100px; height: 40px;">Draft</option>
    <option value="Final" style="width: 100px; height: 40px;">Final</option>
  </select>
  <input type="text" id="user-comment">
  <input type="submit" id="image-btn" value="submit">
</form>
</div>





{% endblock %}

{% block extend_footer %}
  

  <script src="{% static 'dropzone-5.7.0/dist/dropzone.js' %}"></script>
  <script src="{% static 'dropzone.js' %}"></script>

{% endblock %}